### Question 1 :
Assuming that we have some email addresses in the "username@companyname.com" format, please

write a program to print the company name of a given email address. Both user names and company

names are composed of letters only.

Input Format:

The first line of the input contains an email address.

Output Format:

Print the company name in a single line.

Example;

Input:

john@google.com

Output:

google.

In [4]:
s=input()
s1=s.split("@")
s2=s1[1].split(".")
print(s2[0])

john@google.com
google

### Question 2 :
Write a program that accepts a comma-separated sequence of words as input and prints the words in a
comma-separated sequence after sorting them alphabetically.

Input Format:
The first line of input contains words separated by the comma.

Output Format:
Print the sorted words separated by the comma.

Example:
Input:
without,hello,bag,world

Output:
bag,hello,without,world

In [10]:
s=input("Enter words seperated by comma:").split(",")
s1=sorted(s)
print(tuple(s1))

Enter words seperated by comma:without,hello,bag,world
('bag', 'hello', 'without', 'world')

### Question 4:
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no
duplicates.

Input Format:
The first line contains n-1 numbers with each number separated by a space.
Output Format:
Print the missing number

Example:
Input:
1 2 4 6 3 7 8
Output:
5

Explanation:
In the above list of numbers 5 is missing and hence 5 is the input

In [9]:
a=input("Enter numbers seperated by space:").split(" ") 
for i in range(len(a)):
    a[i]=int(a[i])
for i in range(1,max(a)):
    if(i in a):
        continue
    else:
        print(i)
        break

Enter numbers seperated by space:1 2 4 6 3 7 8
5

#### Question 5:
With a given list L, write a program to print this list L after removing all duplicate values with original order
reserved.

Example:
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155

Explanation:
Third, the seventh and ninth element of the list L has been removed because it was already present.

Input Format:
In one line take the elements of the list L with each element separated by a space.

Output Format:
Print the elements of the modified list in one line with each element separated by a space.

Example:

Input:
12 24 35 24

Output:
12 24 35

In [24]:
a=input("Enter numbers separated by space:").split(" ")
for i in range(len(a)):
    a[i]=int(a[i])

for i in range(len(a)):
    for j in range(i+1,len(a)):
        if(a[i]==a[j]):
            a.pop(j)
        else:
            continue
            
for i in range(len(a)):
    a[i]=str(a[i])
s=' '.join(a)
print(s)

Enter numbers separated by space:12 24 35 24
12 24 35

#### Question 3:
Create your own Jupyter Notebook for Sets.

In [26]:
s={}
print(s)

{}

In [27]:
s={1,2,3,4,2,3,1}
print(s)

{1, 2, 3, 4}

In [28]:
s={"apple","banana","manoj"}
print(s)

{'manoj', 'apple', 'banana'}

In [30]:
s={3,6,"Manoj","SRKR"}
for i in s:
    print(i)
print("Manoj" in s)

Manoj
SRKR
3
6
True

In [34]:
s={1,2,3,4}
print(s)
s.add(5)
print(s)

{1, 2, 3, 4}
{1, 2, 3, 4, 5}

In [35]:
s={"apple",3,4,"banana"}
print(s)
s.update(["manoj","srkr",43,12.67])
print(s)

{3, 4, 'apple', 'banana'}
{3, 4, 'banana', 43, 12.67, 'apple', 'manoj', 'srkr'}

In [1]:
s={"apple",3,4,"banana"}
print(s)
s.remove("apple")
print(s)

{'apple', 3, 4, 'banana'}
{3, 4, 'banana'}

In [2]:
s={"apple",3,4,"banana"}
s.discard("banana")

In [3]:
print(s)

{'apple', 3, 4}

In [4]:
s={"apple",3,4,"banana"}
s.pop()
print(s)

{3, 4, 'banana'}

In [5]:
s={"apple",3,4,"banana"}
del s #entire set will be deleted
print(s)

NameError: name 's' is not defined

In [10]:
s1={"a","b","c"}
s2={1,2,3}
s1.update(s2)
print(s1)

{'a', 1, 'c', 2, 3, 'b'}

In [11]:
s1={"a","b","c"}
s2={1,2,3}
s3=s1.union(s2)
print(s3)

{'a', 1, 'c', 2, 3, 'b'}

In [13]:
s1={"a","b","c"}
s2={1,2,3,"a","b"}
s3=s1.intersection(s2)
print(s3)

{'a', 'b'}

In [15]:
s1={"a","b","c"}
s2={1,2,3,"a","b"}
print(s1.isdisjoint(s2))

False

In [16]:
s1={"a","b","c"}
s2={1,2,3,"a","b"}
print(s1.issubset(s2))

False

In [17]:
s1={"a","b","c"}
s2={1,2,3,"a","b"}
print(s1.issuperset(s2))

False

In [18]:
s1={"a","b","c"}
s2={1,2,3,"a","b"}
s3=s1.symmetric_difference(s2)
print(s3)

{1, 2, 3, 'c'}